<div data-controller="list-picker" class="relative inline-block sm:hidden">
  <button title="Choose a List" class="text-2xl bg-transparent border border-brand-grey text-brand-grey rounded px-2 pb-1 m-2.5 hover:bg-surface-hover" data-action="click->list-picker#toggle">
      <i class="fa-solid fa-bars"></i>
  </button>
  <ul data-list-picker-target="lists" class="absolute top-4 left-4 bg-surface-primary border border-border-primary list-none p-0 m-0 z-10 w-full max-sm:top-0 max-sm:left-0 max-sm:w-screen" hidden>
      <li class="px-4 py-1 border-b border-border-secondary text-base">Select a list ... </li>
    <% Current.user.lists.each do |list| %>
        <li class="px-4 py-1 border-b border-border-secondary font-heading text-2xl uppercase cursor-pointer hover:bg-surface-hover" data-action="click->list-picker#select" data-list-picker-value="<%= list.id %>"><%= list.name %></li>
    <% end %>
    <li class="px-4 py-1 border-b border-border-secondary text-base cursor-pointer hover:bg-surface-hover" data-action="click->list-picker#create">Create New List</li>
  </ul>
</div>
