<% if tasks.any? %>
    <%= tag.ul id: "tasks",
        class: class_names(priority: @filter == "priority"),
        data: (@filter ? {} : { controller: "sortable tasks", sortable_url_value: sort_tasks_path }) do %>
        <%= render tasks %>
    <% end %>
<% else %>
  <p id="tasks" class="text-center"> No tasks yet!</p>
<% end %>
