    <div id="list_actions">
        <%= link_to "Active", list_path(@list), class: class_names("filter_tab", active: @filter == nil) %>
        <%= link_to "Completed", list_path(@list, list: "completed"), class: class_names("filter_tab", active: @filter == "completed") %>
        <%= link_to "Today", list_path(@list, list: "today"), class: class_names("filter_tab", active: @filter == "today") %>
        <%= link_to "Snoozed", list_path(@list, list: "snoozed"), class: class_names("filter_tab", active: @filter == "snoozed") %>
    </div>
