<h1 class="text-3xl sm:text-5xl font-heading m-0 mb-4 flex items-center gap-4">
  <span class="flex-1 h-[3px] rounded-full bg-border-input"></span>
  <span class="shrink-0"><%= @list.name %></span>
  <span class="flex-1 h-[3px] rounded-full bg-border-input"></span>
</h1>
