<% content_for :title, "Lists" %>
<div class="col-start-1 sm:col-start-2">
<h1 class="text-2xl font-heading font-bold mb-4">Your Lists</h1>

<ul id="lists" class="list-none p-0">
  <%= render @lists %>
</ul>
</div>
