<%= turbo_frame_tag "note_#{task.id}", hidden: true do %>
  <% unless task&.note&.present? %>
    <%= render "tasks/note_form", task: task %>
  <% else %>
    <div class="note_content">
        <%= task.note %>
        <div class="note_actions">
            <%= link_to "EDIT",edit_note_task_path(task) %>
        </div>
    </div>
  <% end %>
<% end %>
