:root {
    --red: #f5002f;
    --blue: #0085ca;
    --green: #b0fc38;
    --yellow: #ffdc00;
}

header,
main {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 42px;
    font-family: "Bebas Neue", serif;
    margin: 0;
}

header .user_info {
}

h1.list_name {
    margin: 0;
    font-size: 5rem;
}

header .user_info p {
    margin: 0;
}

header .user_info a,
header .user_info form {
    display: inline-block;
    margin-right: 0.5rem;
}
.flash {
    color: var(--text);
    border: var(--border-width-l) var(--green) solid;
    text-align: center;
    padding: var(--padding-s);
    margin: var(--margin-s);
}

#lists {
    list-style: none;
    font-size: 2rem;
}

#lists a {
    text-decoration: none;
}

#new_list_button {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

#tasks {
    min-height: 40vh;
    padding: 0;
    list-style: none;
}

.task {
    font-size: 18px;
    vertical-align: middle;
    margin-left: 4px;
    line-height: 2.6;
}

.completed.task {
    text-decoration: line-through;
}

#tasks li input[type="checkbox"] {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center left;
    flex-shrink: 0;
    margin-right: 8px;
}

#tasks li input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center left;
}
#tasks li,
#tasks li turbo-frame {
    padding: 0;
    margin: 0;
}

#tasks li {
    border-bottom: 1px solid #dedede;
}

#tasks li turbo-frame div[data-controller="task"] {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: move;
}

#tasks div.completed {
    opacity: 0.5;
}

#tasks li input[type="checkbox"] {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-right: 8px;
}

.task,
.task:visited {
    flex-grow: 1;
    overflow: hidden;
    text-decoration: none;
    color: var(--text);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tasks .actions {
    width: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: right;
    gap: 4px;
}

.task_button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

#tasks li .actions form.category_select select {
    font-size: 9px;
    padding: 6px 4px;
    border-radius: var(--radius-s);
    background-image: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.task_button:hover {
    background-color: #0056b3;
}

#tasks li turbo-frame {
}

.sortable-ghost {
    background: rgba(216, 242, 249, 1);
    background-image: linear-gradient(var(--accent-bg), var(--bg));
}

.sortable-drag {
    opacity: 0.6;
}

#tasks .actions .task_button {
    font-size: 9px;
    background: transparent;
    border: var(--border-width-s) var(--grey) solid;
    padding: var(--padding-xs);
    display: inline;
    color: var(--grey);
    text-transform: uppercase;
}

#tasks .actions .task_button:hover {
    background: #f1f1f1;
}

#tasks li .actions {
    opacity: 0;
    transition: opacity 0.3s ease; /* Add a transition for smooth fading */
}

#tasks li:hover .actions {
    opacity: 1;
}

.exclamation,
.position {
    font-size: 2em;
    font-family: var(--heading-font);
    font-weight: bold;
    vertical-align: middle;
}

#tasks li:first-child .exclamation {
    color: var(--blue) !important;
}

#tasks li:nth-child(2) .exclamation {
    color: var(--green) !important;
}

#tasks li:nth-child(3) .exclamation {
    color: var(--red) !important;
}

#new_task_form {
    display: flex;
    width: 80%; /* Ensures the form takes up full width */
    margin: 0 auto;
}

#task_description {
    flex: 1; /* Takes up all remaining space */
    padding: var(--padding-s);
    border: var(--border-width-s) solid #ccc;
    border-right: none; /* Removes the right border so it merges with the button */
    border-radius: var(--radius-l) 0 0 var(--radius-l); /* Rounds only the left side */
    outline: none;
}

#new_task_form input[type="submit"] {
    width: 80px;
    padding: var(--padding-s);
    border: var(--border-width-s) solid var(--blue);
    border-left: none; /* Removes the left border so it merges with the input */
    border-radius: 0 var(--radius-l) var(--radius-l) 0; /* Rounds only the right side */
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

#new_task_form input[type="submit"]:hover {
    background-color: #0056b3;
}

#list_actions {
    text-align: center;
}

#edit_task_form {
    display: flex;
    align-items: center;
    width: 100%;
}

#edit_task_form input[type="text"] {
    width: calc(100% - 128px); /* 100% minus left (40px) + right (80px) gaps */
    margin-left: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#edit_task_form .actions {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 8px;
}

#tasks .actions .button,
#tasks .actions input[type="submit"] {
    font-size: 9px;
    background: transparent;
    border: var(--border-width-s) var(--grey) solid;
    padding: var(--padding-xs);
    display: inline;
    color: var(--grey);
    text-transform: uppercase;
}

.filter_tab.active {
    background: var(--green);
}

.filter_tab {
    background: #f1f1f1;
    font-size: 0.8rem;
    padding: 4px 6px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 1px 1rem 0;
}

.filter_tab:hover {
    opacity: 0.8;
}

#list_actions {
    margin-bottom: 0.6em;
}

.list_name a,
.list_name a:visited {
    text-decoration: none;
    color: var(--text);
}

.list_name a:hover {
    color: var(--blue);
}

.list_name a.priority,
.list_name a.priority:visited {
    color: var(--green);
}

#tasks .info {
    font-size: 0.8rem;
    color: var(--grey);
    padding: 0 0 4px 56px;
    margin-top: -12px;
}
